html {
  font-size: 16px;
  scroll-behavior: smooth;
  /* background-color: #00bfba; */
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  vertical-align: middle;
}

/*Standard UI */

/** Title */
.styletitle {
  width: 50%;
  text-align: center;
  padding: .5rem .6rem;
  border-bottom: solid 2px rgba(8, 8, 8, 0.342);
  border-bottom-right-radius: 10px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.39);
}

.hypertitle {

}

.title {
  font-size: 4rem;
}

.subtitle {

}

/** Card */
.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards-title {
  text-align: center;
  font-size: 1.5rem;
}

.cards-title > *::first-letter {
  font-size: 2rem;
  color: red;
}

.card {
  width: 90%;
  height: 100%;
  margin: 5px;
  padding: 1.5rem 1rem;
  box-shadow: 0px 0px 4px black;
  border-radius: 3px;
}

.cards-grid {
  flex-direction: row;
}

.cards-center .card {
  text-align: center;
}

.card-center {
  text-align: center;
}

.card-content {
  font-size: 1rem;
}

.card-icon {
  font-size: 2.5rem;
}

.card-title {

}

.card-subtitle {

}

.card-text {

}

.card-image {
  width: 100%;
  height: auto;
}

/* Form */
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-input {
  width: 85%;
  padding: 10px;
  margin: 10px auto;
  border: none;
  border-radius: 2px;
  box-shadow: 0px 0px 4px black;
}

.form-input::placeholder {
}

.form-input:focus {
  font-size: 1.5rem;
  transition: font-size .3s;
  border: solid 2px black;
}

.form-button {
  width: 50%;
  margin: 25px auto;
}

.form-textarea {
  width: 85%;
  padding: 10px;
  margin: 10px auto;
  border: none;
  border-radius: 2px;
  box-shadow: 0px 0px 3px black;
}

.form-textarea:focus {
  font-size: 1.5rem;
  transition: font-size .3s;
  border: solid 1px black;
}



/** Button */
.button {
  border: none;
  border: double 2px black;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  padding: .7rem 1rem;
}

.button:hover {
  background-color: white;
  color: black;
}

/**Main Page */
.page {
  display: flex;
  flex-direction: column;
  padding: 1%;
}

.page > section {
  width: 100%;
  height: 100%;
  margin: 10px auto;
  /* border: solid 5px red; */
}

/** bannière principale */

/*Home */
.home {
  display: flex;
  flex-direction: column;
}

.header {
}

.header-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: baseline;
}

.header-title {
  /* background-color: red; */
}

.number-phone {
}



/** Menu */
.menu {
  display: flex;
  flex-direction: column;
  align-items: center;

  
}

.menu.active {
  background-color: #00bfba;
}

.menu.active > label {
  color:white;
}

.menu > label {
  color:#00bfba;
  border-radius: 3px;
}

.menu > ul {
  box-shadow: 0px 0px 2px #00bfba;
}

.menu label, .menu li {
  cursor: pointer;
  padding: 10px;
}

.menu li {
}

.menu input[type=checkbox] {
  display: none;
}

/** Banner */
.baner {
  width: 100%;
  height: auto;
  position: relative;

  position: relative;
}

.baner-image {

}

.baner-image img{
  width: 100%;
  height: auto;
}

.baner-content{
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  height: 30%;


  background-color:#f0f5ffd2;
  
  border-top: solid 2px #ff65ff;
  border-bottom: solid 2px #ff65ff;
}

.baner-content > * {
  margin: 2px;
  width: 100%;
  height: 100%;
}

.baner-title{
}

.baner-subtitle{

}

.baner-text{

}

.baner-link{

}

/* Informations */

/**Soins */

/** Infos */
.infos {
}

/** services */
.services {

}

/**A Propos */
.about {
  width: 100%;
  height: 100%;
}

.about-title {
  width: 130px;
  font-size: 2rem;
  border-bottom: solid 2px red;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 2px 4px tomato;
}

.about-content {
  font-size: 1rem;
  margin-left: 1px;
  text-align: justify;
  word-wrap: break-word;
  margin: 5px 25px;
}


/**Formulaire rendez-vous */

/*Appointment */
.appointment {
  border-radius: 2px;
  box-shadow: 0px 0px 4px #000000a6;
  background: url("../images/app1.png");
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
}

.appointment-form {
}


/**Télécharger l'application */

/**/
.application {
  box-shadow: 0px 0px 4px black;
  width: 100%;
  height: 100%;
  background: url("../images/mid.png") no-repeat;
}

.application-content {
}

.application-content > *:not(.styletitle) {
  width: 100%;
  padding: 10px;
}

.application-title {

}

.application-text {

}

.application-playstore,
.application-applestore {
  width: 50px;
  height: 64px;
  display: inline-block;
}

.application-playstore {
  background: url("../images/android.png") no-repeat;
  background-size: contain;
}

.application-applestore {
  background: url("../images/apple.png") no-repeat;
  background-size: contain;
}

/** Médecins  */

/*Doctors */
.doctors {
  box-shadow: 0px 0px 4px black;
  border-radius: 3px;
}

.doctor {
  position: relative;
} 

.doctor-image {
  width: 50%;
}

.doctor-content {
  position: absolute;
  right: 15%;
  top: 25%;
  bottom: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.doctor-name {
  font-size: 1.5rem;
}

.doctor-job {
  font-weight: 300;
  font-size: .9rem;
}

/** Articles de blog */

/*News */
.news {
  box-shadow: 0px 0px 4px black;
  border-radius: 3px;
}

.news-image {
  padding: 2%;
  border-radius: 5px;
  box-shadow: 0px 0px 4px black inset;
}

.news-image img {
  border-radius: 3px;
}

.news-content {
  margin-top: 5px;
  padding: 1%;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0px 0px 4px black inset;
}

.news-date {

}

.news-link {

}

.news-text {

}

/*
    <!-- Contact -->
*/

/*Contact */
.contact {
  box-shadow: 0px 0px 4px black;
  border-radius: 3px;
}

/*
		<!-- Chiffres et témoignages -->
*/

/*Facts */
.facts {
  background: url("../images/bg2.jpg") no-repeat;
  background-size: cover;
  border-radius: 2px;
  display: flex;
}

.facts-title {
  color: white;
}

.facts-info {
  width: 40%;
  padding: 10px;
  color: white;
}

.facts-info-number {
  font-size: 2rem;
}

.facts-info-name {

}

.witness {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 60%;
  color: white;
}

.witness-user {
  
}

.witness-image img {
  width: auto;
  height: auto;
}

/*
    <!-- pied de page -->
*/
/**Footer */
.footer {
  display: flex;
  box-shadow: 0px 0px 4px black;
  border-radius: 1px;
  padding: 5px;
}

.footer > * {
  width: 100%;
}

/*
    <!-- Copyright -->
*/
/**Copyright */
.copyright {
  margin: 10px 10%;
}

@media only screen and (min-width: 650px) {
  .page {
    width: 70%;
    margin: auto;
  }
}


@media only screen and (min-width: 950px) {
  .page {
    width: 50%;
    margin: auto;
  }
}















